<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="xyz.cymedical.mapper.jiang.TbDeptMapper">


<!-- 使用嵌套查询，当查出一条员工数据时，也关联查询出对应的部门信息 -->

	<select id="selectDept"   parameterType="xyz.cymedical.entity.jiang.Tb_dept"
	resultType="xyz.cymedical.entity.jiang.Tb_dept">
<!-- 		select * from tb_dept   -->
		select td.* from tb_dept td,tb_role_dept trp where state='在用' and td.dept_id=trp.dept_id 
	</select>
	
	<select id="select"  parameterType="string"
	resultType="xyz.cymedical.entity.jiang.Tb_dept">
		 
		select d.* from tb_dept d,tb_role_dept rd where state=#{sta} and d.dept_id = rd.dept_id
	</select>
 
<!--  	 <delete id="deletePower" parameterType="int" > -->
	
<!-- 		delete from tb_dept where power_id = #{power_id} -->
	
<!-- 	</delete> -->
	
	<insert id="addDept" parameterType="xyz.cymedical.entity.jiang.Tb_dept">
		insert into tb_dept(name) values(#{name})
	</insert>
	
	<update id="upDept"  parameterType="xyz.cymedical.entity.jiang.Tb_dept" >
	
			UPDATE tb_dept 
			
		<trim prefix="SET" suffixOverrides=","  >  
	
		 
		<if test="name != null and name != ''">
			name=#{name}
		</if>
		
		   where dept_id=#{dept_id}
		</trim>
		 
	</update>
	
	<delete id="delectDept" parameterType="int" >
	
		delete from tb_dept where dept_id = #{dept_id}
	
	</delete>
	
	
	<select id = "selectCompany" parameterType="map" resultType="map">
 		select * from tb_dept  where 1=1
 	 
		<if test="tb_dept.name!=null and tb_dept.name!=''"> 
			and name like '%${tb_dept.name}%'
		</if>
	 
		 
	</select>
	
	<select id="selectDeptname"  parameterType="xyz.cymedical.entity.jiang.Tb_dept" resultType="xyz.cymedical.entity.jiang.Tb_dept">
		select * from tb_dept where name=#{name}
	
	</select>
	
		<select id="selectDeptnameid"  parameterType="xyz.cymedical.entity.jiang.Tb_dept" resultType="xyz.cymedical.entity.jiang.Tb_dept">
		select * from tb_dept where name=#{name}
	
	</select>
	
	<select id="selectrowedid" resultType="map">
	select d.* from tb_dept d,tb_role_dept rd where rd.state='在用' and d.dept_id=rd.dept_id
	</select>
	
</mapper>