<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="xyz.cymedical.mapper.jiang.TbPowerMapper">


<!-- 使用嵌套查询，当查出一条员工数据时，也关联查询出对应的部门信息 -->

	<select id="selectPower"   parameterType="xyz.cymedical.entity.jiang.Tb_power"
	resultType="xyz.cymedical.entity.jiang.Tb_power">
		select * from tb_power  
	</select>
 
 	 <delete id="deletePower" parameterType="int" >
	
		delete from tb_power where power_id = #{power_id}
	
	</delete>
	
	<insert id="addPower" parameterType="xyz.cymedical.entity.jiang.Tb_power">
		insert into tb_power(power_id,menu_id,name) values(#{power_id},#{menu_id},#{name})
	</insert>
	
	<update id="upPower"  parameterType="xyz.cymedical.entity.jiang.Tb_power" >
	
			UPDATE tb_power 
			
		<trim prefix="SET" suffixOverrides=","  >  
	
		<if test="menu_id != null and menu_id != ''">
			menu_id=#{menu_id},
		</if>
		<if test="name != null and name != ''">
			name=#{name}
		</if>
		
		   where power_id=#{power_id}
		</trim>
		 
	</update>
	
	<select id = "selectCompany" parameterType="map" resultType="map">
 		select * from tb_power  where 1=1
 	 
		<if test="tb_power.power_id!=0 and tb_power.power_id!=''"> 
			and power_id like '%${tb_power.power_id}%'
		</if>
		<if test="tb_power.menu_id!=0 and tb_power.menu_id!=''"> 
			and menu_id like '%${tb_power.menu_id}%'
		</if>
		<if test="tb_power.name!=null and tb_power.name!=''"> 
			and name like '%${tb_power.name}%'
		</if>
	 
		 
	</select>
	
</mapper>