<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="xyz.cymedical.mapper.jiang.TbRoleMapper">



	<select id="selectRole"   parameterType="xyz.cymedical.entity.jiang.Tb_role"
		resultType="xyz.cymedical.entity.jiang.Tb_role">
<!-- 		select * from tb_role where 1=1 -->
		select tr.* from tb_role tr,tb_role_dept trp where state='在用' and tr.role_id=trp.role_id
	</select>
	
	<insert id="addRole" parameterType="xyz.cymedical.entity.jiang.Tb_role"> 
	
		 insert into tb_role  (role_id,name) values (#{role_id},#{name})
	
	</insert>

	<select id="selectName" parameterType="String" resultType="xyz.cymedical.entity.jiang.Tb_role" >
	
		select * from tb_role where name=#{name} 
	</select>


	<delete id="delectrole" parameterType="int" >
	
		delete from tb_role where role_id = #{role_id}
	
	</delete>

<!-- 	<update id="upRole"  parameterType="xyz.cymedical.entity.jiang.Tb_role" > -->
	
<!-- 			UPDATE tb_role  -->
			
<!-- 		<trim prefix="SET" suffixOverrides=","  >   -->
	
	 
<!-- 		<if test="name != null and name != ''"> -->
<!-- 			name=#{2} -->
<!-- 		</if> -->
		
<!-- 		   where role_id=#{1} -->
<!-- 		</trim> -->
		 
<!-- 	</update> -->

		<update id="upRole" >
	
		update  tb_role set name = #{1} where role_id=#{0}
	
	</update>
	
	<select id = "selectCompany" parameterType="map" resultType="map">
 		select * from tb_role  where 1=1
 	 
		<if test="tb_role.name!=null and tb_role.name!=''"> 
			and name like '%${tb_role.name}%'
		</if>
	 
		 
	</select>
	
	<select id="findMenu" parameterType="int" resultType="xyz.cymedical.entity.jiang.Tb_menu" >
	
	select a.*,b.name name,b.link link,b.superior superior,c.* from tb_role_power a,tb_menu b,tb_power c where a.power_id=c.power_id and b.menu_id=c.menu_id and a.role_id=#{role_idd}
		
	</select>
	
		<select id="findUnMenu" parameterType="int" resultType="xyz.cymedical.entity.jiang.Tb_menu" >
	
	select * from tb_menu where menu_id not in(select menu_id from tb_power a,tb_role_power b where a.power_id=b.power_id and b.role_id=${rid}) or superior=0	
	
	</select>

</mapper>