<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="xyz.cymedical.mapper.ctx.LogCompanyMapper">

	<select id="queryByName" parameterType="java.lang.String"
		resultMap="companyMap">
		select * from tb_company where name = #{name}
	</select>

	<select id="selectCompanyid" parameterType="java.lang.Integer"
		resultType="xyz.cymedical.entity.ctx.LogCompany">
		select * from tb_log_company where company_id =
		#{company_id}
	</select>

	<resultMap type="xyz.cymedical.entity.ctx.LogCompany"
		id="queryByName">
		<association property="logcompany" column="company_id"
			javaType="xyz.cymedical.entity.ctx.LogCompany" select="selectCompanyid">
		</association>
	</resultMap>

</mapper>