<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="xyz.cymedical.mapper.ctx.LogCompanyMapper">
	<!-- 插入日志 -->
	<insert id="insertLog">
		insert into
		tb_log_company(company_id,operate,money,time)
		values(#{company_id},#{operate},#{deposit},#{time})
	</insert>

	<select id="queryByName" parameterType="java.lang.String"
		resultType="java.util.HashMap">
		select c.name,c.account,c.deposit,l.operate,l.money,l.time
		from
		tb_log_company l left join tb_company c on
		l.company_id =
		c.company_id
		where c.name = #{name}
	</select>

	<select id="queryAll" resultType="java.util.HashMap">
		select
		com.`name`,lc.operate,lc.money,lc.time from tb_company com left join
		tb_log_company lc on com.company_id = lc.company_id
	</select>

</mapper>