<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="xyz.cymedical.mapper.ctx.PatientMapper">

	<!-- 更新病人信息 -->
	<!-- <update id="updataPatient" parameterType="xyz.cymedical.entity.jun.Patient"> -->
	<!-- update tb_patient set -->
	<!-- </update> -->
	<!-- 插入病人，返回自增id -->
	<insert id="insertPatient" useGeneratedKeys="true"
		keyProperty="paitent_id"
		parameterType="xyz.cymedical.entity.jun.Patient">
		insert into	tb_patient(company_id,name,sex,age,ID,code,phone,check_num)
		values(#{company_id},#{name},#{sex},#{age},#{ID},#{code},#{phone},#{check_num})
	</insert>
	<!-- 批量插入 -->
	<insert id="insertByBatch" parameterType="java.util.List">
		insert into tb_patient(company_id,name,sex,age,ID,code,phone)
		values
		<foreach collection="listRecord" item="p" separator=",">
			(#{p.company_id},#{p.name},#{p.sex},#{p.age},#{p.ID},#{p.code},#{p.phone})
		</foreach>
	</insert>

	<select id="query"
		parameterType="xyz.cymedical.entity.jun.Patient"
		resultType="java.util.HashMap">
		select
		a.company_id,a.n1,a.n2,a.sex,a.age,a.ID,a.phone,a.code,a.check_num,g.time
		from (select p.company_id,p.name n1,c.name
		n2,p.sex,p.age,p.ID,p.phone,p.code,p.check_num from tb_patient p left
		join tb_company c on p.company_id = c.company_id)a left join tb_group
		g on a.company_id = g.company_id where 1 = 1

		<if test="name != null and name != ''">
			and a.n1 like '%${name}%'
		</if>
		<if test="phone != null and phone != ''">
			and a.phone = #{phone}
		</if>
		<if test="time != null and time != ''">
			and g.time = #{time}
		</if>
		<if test="code != null  and code != ''">
			and a.code like '%${code}%'
		</if>
	</select>

	<select id="queryproject"
		parameterType="xyz.cymedical.entity.jun.Patient"
		resultType="java.util.HashMap">
		select a3.n1,a3.n2,a3.time,par.`name` n3 from (select
		a2.n1,a2.n2,a2.param_id,gro.time from (select a1.name n1,pro.`name`
		n2,a1.project_id,pro.param_id,a1.company_id from (select
		pp.patient_id,pp.project_id,pat.`name`,pat.company_id from
		tb_patient_project pp left join tb_patient pat on pp.patient_id =
		pat.patient_id) a1 left join tb_project pro on a1.project_id =
		pro.project_id) a2 left join tb_group gro on a2.company_id =
		gro.company_id) a3 left join tb_param par on a3.param_id =
		par.param_id where 1 = 1

		<if test="name != null and name != ''">
			and a3.n1 like '%${name}%'
		</if>
		<if test="time != null and time != ''">
			and a3.time = #{time}
		</if>
	</select>

	<select id="querybrief"
		parameterType="xyz.cymedical.entity.jun.Patient"
		resultType="java.util.HashMap">
		select a7.n1,a7.n2,a7.n3,a7.n4,us.name
		n5,a7.unit,a7.min,a7.max,a7.resulttext,a7.time from(select
		a6.n1,a6.n2,a6.n3,com.name
		n4,a6.unit,a6.min,a6.max,a6.resulttext,a6.time,a6.user_id from(select
		a5.n1,a5.n2,pro.`name`
		n3,a5.unit,a5.min,a5.max,a5.resulttext,a5.time,a5.combo_id,a5.user_id
		from (select
		a4.n1,a4.n2,a4.unit,a4.min,a4.max,a4.resulttext,gro.time,a4.combo_id,a4.project_id,a4.user_id
		from (select
		a3.n1,a3.n2,a3.unit,a3.min,a3.max,br.resulttext,a3.company_id,a3.combo_id,a3.project_id,a3.user_id
		from (select a2.`name` n1,det.`name`
		n2,det.unit,det.min,det.max,a2.detail_id,a2.company_id,a2.combo_id,a2.project_id,a2.user_id
		from (select
		a1.`name`,dp.detail_id,a1.company_id,a1.combo_id,a1.project_id,a1.user_id
		from (select
		pat.`name`,pp.project_id,pat.company_id,pat.combo_id,pp.user_id from
		tb_patient_project pp left join tb_patient pat on pp.patient_id =
		pat.patient_id) a1 left join tb_detail_project dp on a1.project_id =
		dp.project_id) a2 left join tb_detail det on a2.detail_id =
		det.detail_id) a3 left join tb_brief br on a3.detail_id =
		br.detail_id) a4 left join tb_group gro on a4.company_id =
		gro.company_id) a5 left join tb_project pro on a5.project_id =
		pro.project_id) a6 left join tb_combo com on a6.combo_id =
		com.combo_id) a7 left join tb_user us on a7.user_id = us.user_id where
		1 = 1

		<if test="name != null and name != ''">
			and a7.n1 like '%${name}%'
		</if>
		<if test="time != null and time != ''">
			and a7.time = #{time}
		</if>
	</select>

	<select id="queryadvise"
		parameterType="xyz.cymedical.entity.jun.Patient"
		resultType="java.util.HashMap">
		select a1.n1,a1.time,a1.detail_id,sum.advise,sum.guide from(select
		pat.name n1,bri.summarize_id,bri.time,bri.detail_id from tb_brief bri
		left join tb_patient pat on pat.patient_id = bri.patient_id) a1 left
		join tb_summarize sum on a1.summarize_id = sum.summarize_id where 1 =
		1
		<if test="name != null and name != ''">
			and a1.n1 like '%${name}%'
		</if>
		<if test="time != null and time != ''">
			and a1.time = #{time}
		</if>
	</select>

</mapper>