<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="xyz.cymedical.mapper.ctx.PatientMapper">


<!-- 批量插入 -->
	<insert id="insertByBatch" parameterType="java.util.List">
		insert into tb_patient(company_id,name,sex,age,ID,phone)
		values
		<foreach collection="listRecord" item="p" separator=",">
			(#{p.company_id},#{p.name},#{p.sex},#{p.age},#{p.ID},#{p.phone})
		</foreach>
	</insert>

	<select id="query"
		parameterType="xyz.cymedical.entity.jun.Patient"
		resultType="java.util.HashMap">
		select
		a.company_id,a.n1,a.n2,a.sex,a.age,a.ID,a.phone,a.code,a.check_num,g.time
		from (select p.company_id,p.name n1,c.name
		n2,p.sex,p.age,p.ID,p.phone,p.code,p.check_num from tb_patient p left
		join tb_company c on p.company_id = c.company_id)a left join tb_group
		g on a.company_id = g.company_id where 1 = 1 

		<if test="name != null and name != ''">
			and a.n1 like '%${name}%'
		</if>
		<if test="phone != null and phone != ''">
			and a.phone = #{phone}
		</if>
		<if test="time != null and time != ''">
			and g.time = #{time}
		</if>
		<if test="code != null  and code != ''">
			and a.code like '%${code}%'
		</if>
	</select>

</mapper>