<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="xyz.cymedical.mapper.xin.BriefMapper">
	<!-- 查询套餐内项目 -->

	<update id="Normal" parameterType="String" >
		update tb_brief set sstate='已提交' ,resulttext=#{0 } where brief_id=#{1 }
	</update>
	
	<update id="Photo" parameterType="String" >
		update tb_brief set sstate='已提交' ,resulttext=#{0 },resultpath=#{1 } where brief_id=#{2 }
	</update>
	
	<update id="Check" parameterType="String" >
		update tb_brief set sstate='已提交' ,resulttext=#{0 },tips=#{1 } where brief_id=#{2 }
	</update>
	
	<update id="addsummarize"  >
		update tb_brief set summarize_id=#{1 }  where brief_id=#{0 }
	</update>
	

</mapper> 