<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="xyz.cymedical.mapper.xin.DoctorMapper">
	<!-- 查询套餐内项目 -->

	<select id="findMyProject" parameterType="String"
		resultType="java.util.HashMap">
		select a.*,c.project_id,c.name projectname,e.name keshi
		,d.patient_project_id,d.state from 
		tb_patient a,tb_project_combo b,tb_project c,tb_patient_project d,tb_param e
		where
		a.combo_id=b.combo_id and b.project_id=c.project_id and
		d.project_id=c.project_id and c.param_id=e.param_id
		and a.code=#{onecode }  order by e.name
	</select>

	<select id="findMyDetail" parameterType="java.lang.Integer"
		resultType="java.util.HashMap">
		select distinct * from tb_brief a,tb_detail_project b,tb_detail c
		where a.detail_id=b.detail_id and time=
		(SELECT MAX(time) FROM `tb_group` ) and b.detail_id=c.detail_id
		and b.project_id=#{0 } and a.patient_id=#{1 }
	</select>

	<select id="findAllDetail" parameterType="String"
		resultType="java.util.HashMap">
		select  a.*,b.project_id proid,c.* from tb_brief a,tb_detail_project b,tb_detail c,tb_patient d
		where a.detail_id=b.detail_id and time=
		(SELECT MAX(time) FROM `tb_group` ) and b.detail_id=c.detail_id
		and a.patient_id=d.patient_id and d.code=#{onecode } order by c.type desc
	</select>


	<update id="receive" parameterType="java.lang.Integer">
		update
		tb_patient_project set
		state ='已接收' where patient_project_id=#{patient_project_id }
	</update>

	


</mapper> 