<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="xyz.cymedical.mapper.xin.DoctorMapper">
	<!-- 查询套餐内项目 -->

	<select id="findMyProject" parameterType="String"
		resultType="java.util.HashMap">
		select a.*,c.project_id,c.name projectname,e.name keshi
		,d.*,f.name docname from 
		tb_patient a,tb_project_combo b,tb_project c,tb_patient_project d,tb_param e,tb_user f
		where
		a.combo_id=b.combo_id and b.project_id=c.project_id and
		d.project_id=c.project_id and c.param_id=e.param_id
		and f.user_id=d.user_id and a.code=#{onecode }  order by e.name
	</select>

	<select id="findMyDetail" parameterType="java.lang.Integer"
		resultType="java.util.HashMap">
		select distinct * from tb_brief a,tb_detail_project b,tb_detail c
		where a.detail_id=b.detail_id and time=
		(SELECT MAX(time) FROM `tb_group` ) and b.detail_id=c.detail_id
		and b.project_id=#{0 } and a.patient_id=#{1 }
	</select>

	<select id="findAllDetail" parameterType="String"
		resultType="java.util.HashMap">
		select * from 
		tb_brief a,tb_detail b,tb_patient c 
		where a.detail_id=b.detail_id and a.patient_id=c.patient_id and c.code=#{0} 
		order by b.type desc
	</select>

	<select id="login" resultType="xyz.cymedical.entity.jiang.Tb_user" >
		select * from tb_user where account=#{0} and pwd=#{1};
	</select>

	<update id="receive" parameterType="java.lang.Integer">
		update
		tb_patient_project set
		state ='已接收' where patient_project_id=#{patient_project_id }
	</update>

	<insert id="addsummarize">
		insert into tb_summarize (advise,guide) values (#{0 },#{1 });
	</insert>

	<select id="findsumid" resultType="String">
		select max(summarize_id) from tb_summarize;
	</select>
	
	<select id="getMyMenu" parameterType="java.lang.Integer" resultType="xyz.cymedical.entity.jiang.Tb_menu">
		select * from 
		tb_user a,tb_role_dept b,tb_role_power c,tb_power d,tb_menu e
		WHERE
		a.role_dept_id=b.role_dept_id and b.role_id=c.role_id 
		and c.power_id = d.power_id and d.menu_id=e.menu_id and 
		user_id=#{0} and a.role_dept_id=#{1} 
	</select>
	

</mapper>