<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="xyz.cymedical.mapper.jun.GroupMapper">
<!-- 插入导检表 -->
	<insert id="insert">
		insert into tb_group(company_id,pamount,time)
		values(#{cid},#{pnum},#{time})
	</insert>
</mapper>