<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="xyz.cymedical.mapper.jun.NurseMapper">

<!-- 创建体检人和套餐关系表 -->
	<insert id="insertPaitentCombo">
		insert into tb_patient_combo(patient_id,combo_id,biller_id) 
		values
		<foreach collection="pList" item="p" separator=",">
			((select patient_id from tb_patient where ID = #{p.ID}),#{p.combo_id},#{bid})
		</foreach>
	</insert>
<!-- 根据记账表查询导检单 -->
	<!-- 病人实体类查询 -->
	<select id="getCheckPage" parameterType="String" resultType="xyz.cymedical.entity.jun.Patient">
	select p.name,p.sex,p.age,p.code, p.check_num,c.name cname,pr.name pname,par.name prname,d.name dname
	from tb_patient_combo pac
	INNER JOIN tb_patient p ON pac.patient_id=p.patient_id and pac.biller_id = #{bid}
	LEFT JOIN tb_combo c ON c.combo_id=pac.combo_id
	LEFT JOIN tb_project_combo pc ON pc.combo_id=c.combo_id
	LEFT JOIN tb_project pr ON pr.project_id=pc.project_id
	LEFT JOIN tb_param par on par.param_id = pr.param_id
	LEFT JOIN tb_detail_project dp ON dp.project_id=pr.project_id
	LEFT JOIN tb_detail d on dp.detail_id=d.detail_id
	ORDER BY name asc,pname asc;
	</select>
<!-- 批量插入 -->
	<insert id="insertBatchRelation">
		insert into tb_biller_patient(biller_id,patient_id)
		values
		<foreach collection="pList" item="p" separator=",">
			(#{bid},(select patient_id from tb_patient where ID = #{p.ID}))
		</foreach>
	</insert>

<!-- 套餐信息 -->
	<select id="queryComboByName" parameterType="String" resultType="xyz.cymedical.entity.xin.Combo">
		select * from tb_combo where name = #{comboName}
	</select>

<!-- 查询待审核文件列表 -->
	<select id="queryCheckFile" parameterType="String" resultType="xyz.cymedical.entity.jun.CompanyFile">
		select f.*,c.name name from tb_file f join tb_company c on f.company_id = c.company_id and f.cstate=#{state}
	</select>
	
<!-- 登录查询 -->
	<select id="queryNurseByLogin" parameterType="String" resultType="xyz.cymedical.entity.jun.Nurse">
		select * from tb_user where account = #{account} and pwd = #{pwd}
	</select>
	
	<!-- 新闻查询 -->
	<select id="findAllNews"  resultType="xyz.cymedical.entity.xin.News">
		select * from tb_new order by time desc;
	</select>	
	
	<!-- 条件查询 -->
	<select id="searchNews" parameterType="hashmap" resultType="xyz.cymedical.entity.xin.News">
		
		select * from tb_new where 1=1 	
		
		<if test="title!=null and title!=''">
			and title like '%${title}%'
		</if>
		<if test="mindate!=null and mindate!=''">
			and time &gt;= #{mindate}
		</if>
		<if test="maxdate!=null and maxdate!=''">
			and time &lt;= #{maxdate}
		</if>  
		<if test="info!=null and info!=''">
			and info like '%${info}%'
		</if>
	</select>	
	
	<!-- 新闻添加 -->
	<insert id="addNews"  parameterType="xyz.cymedical.entity.xin.News">
		insert into tb_new (title,time,info) values('${title}','${time}','${info}')
	</insert>
	
	<!-- 新闻查询 -->
	<select id="findMyNews"  resultType="xyz.cymedical.entity.xin.News">
		select * from tb_new where new_id=#{0};
	</select>	
	
	<!-- 新闻查询 -->
	<update id="updateNews"  parameterType="xyz.cymedical.entity.xin.News">
		update tb_new set title=#{title},time=#{time},info=#{info} where new_id=#{new_id}
	</update>	
	
	<delete id="delNews"  parameterType="String">
		delete from tb_new where new_id=#{0}
	</delete>
	
	<!-- 套餐名字对应项目 -->
	<select id="findMyProject" parameterType="String" resultType="xyz.cymedical.entity.zsc.Project">
		select * from tb_project a,tb_project_combo b,tb_combo c
		 where 
		a.project_id=b.project_id and b.combo_id = c.combo_id and c.name=#{comboname}
	</select>
	
	<!-- 插入病人项目表 -->
	<insert id="insertPaitentProject" >
		insert into tb_patient_project (patient_id,project_id,state,balance) values(#{0},#{1},'未接收','已结算')
	</insert>
	
	<!-- 项目id对应细项 -->
	<select id="findMyDetail" parameterType="int" resultType="xyz.cymedical.entity.zsc.Detail">
		select * from tb_detail a,tb_detail_project b,tb_project c
		 where 
		a.detail_id=b.detail_id and b.project_id=c.project_id and c.project_id=#{project_id}
	</select>
	
	<!-- 插入小结表 -->
	<insert id="insertbrief" >
		insert into tb_brief (detail_id,patient_id,time,sstate,project_id) values(#{0},#{1},#{2},'未提交',#{3})
	</insert>
	
</mapper>