<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="xyz.cymedical.mapper.jun.PatientTmpMapper">

	<insert id="insertPatientTmp" parameterType="java.util.List">
		insert into tb_patient_tmp(biller_id,name,age,ID,phone,comboName,hcode)
		values
		<foreach collection="patientList" item="p" separator=",">
			(#{p.biller_id},#{p.name},#{p.age},#{p.ID},#{p.phone},#{p.comboName},#{p.hcode})
		</foreach>
	</insert>	

	<select id="queryByhcode" parameterType="String" resultType="xyz.cymedical.entity.jun.PatientTmp">
		select * from tb_patient_tmp where hcode = #{hcode}
	</select>
	
	<select id="queryByBillerId" parameterType="String" resultType="xyz.cymedical.entity.jun.PatientTmp">
		select * from tb_patient_tmp where biller_id = #{bid}
	</select>

	<delete id="delByBillerId" parameterType="String">
		delete from tb_patient_tmp where biller_id=#{bid} 
	</delete>
</mapper>