/* CSS Document */

#left{padding-left:22px}

#addu{width:310px;border:#000 1px solid;margin:0 auto;border-radius:6px}

table{text-align:center;border:0px}

table input{border-radius:6px}

table select{width:160px;border-radius:6px }



